# Environments
venv/
.env/
.venv/
env/

# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# IDE configurations
.vscode/
.idea/
*.swp
*.swo

# Databases
*.db
*.sqlite3

# Testing
.pytest_cache/

# OS files
.DS_Store
